h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
}

h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

h6 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

li {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.breadcrumb {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.nav__item {
  font-weight: 600;

  &--header {
    font-size: 16px;
    line-height: 20px;
  }

  &--footer {
    font-size: 14px;
    line-height: 17px;
  }
}

.news__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 15px;
}

.contacts__position {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.card__subtitle {
  font-weight: 500;
}

.docs-papper__text {
  font-size: 14px;
  line-height: 17px;
}

.docs-papper__display {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.pagination__item {
  font-weight: bold;
  font-size: 16px;
}