
/* COLORS
============================================= */
$default: #000000;
$white: #FFFFFF;
$blue: #194395;
$dark-blue: #042A57;
$light-blue: #4A6BAB;
$sky-blue: #6E89BC;
$grey: #9CA0A8;
$dark-grey: #F9F9FA;
$darker-grey: #3A3F4B;
$light-grey: #F2F2F2;
$solitude: #EAEEF5;




/* TYPOGRAPHY-COLORS
============================================= */
/* text */
$default-text: $default;
$footer-text: $white;
$copyright-text: $grey;

/* title */
$subheader-title: $white;
$service-title: $white;
$default-title: $default;
$default-subtitle: $darker-grey;

/* BACKGROUND-COLORS
============================================= */
$main-background: $light-grey;
$footer-background: $dark-blue;

